<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>

<!-- Si el usuario está logueado, incluye el Navbar normal -->
<div th:if="${usuario != null}">
    <!-- Recuperamos el objeto "usuarios" que nos pasa el Controller y usamos sus atributos, pasandolos al NavBar -->
    <div th:replace="fragments :: navbar(userName=${usuario} ? ${usuario.getNombre()} : '',
                     userId=${usuario} ? ${usuario.getId()} : '')"></div>
</div>

<!-- Si el usuario no está logueado, incluye el Navbar para no logueados -->
<div th:if="${usuario == null}">
    <div th:replace="fragments :: navbar_noLogueado"></div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <h1>Tienda de ropa</h1>
        <ul>
            <li>Integrantes del equipo </li>
            <li>- Francisco Fernández Ruiz</li>
            <li>- Juan Carlos Barbero Castejón</li>
            <li>- Noel Martinez Pomares</li>
            <li>- Adrian Rubio Candil</li>
        </ul>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>