<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Perfil')">
    <!-- Enlace a Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyL7Q4q6txlSZq9ubRSfau8UcK7J6h"
          crossorigin="anonymous"/>
</head>

<body style="font-family: 'Quicksand', sans-serif;">
    <div th:if="${logueado != null}">
        <div th:replace="fragments :: navbar(userName=${usuario} ? ${usuario.getNombre()} : '',
                         userId=${usuario} ? ${usuario.getId()} : '',
                         admin=${usuario} ? ${usuario.isAdministrador()} : '')"></div>
    </div>

    <main style="flex: 1;">
        <div class="container-lg mt-4">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="text-center">
                        <img style="box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); width: auto; max-height: 500px;" th:src="@{|/uploads/${usuario.imagen}|}" alt="Foto de perfil" class="img-fluid"/>
                    </div>
                    <div class="text-center" style="margin-top: 15px">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                        <span th:if="${usuario.esArrendatario}">Arrendatario</span>
                        <span th:if="${usuario.esArrendador}">Arrendador</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-12">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>Correo Electrónico: </strong><span th:text="${usuario.email}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>Nombre: </strong><span th:text="${usuario.nombre}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" style="margin-top: 15px">
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>Apellidos: </strong><span th:text="${usuario.apellidos != null ? usuario.apellidos : 'No especificados'}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>DNI: </strong><span th:text="${usuario.dni}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" style="margin-top: 15px">
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>Teléfono: </strong><span th:text="${usuario.telefono}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>Código Postal: </strong><span th:text="${usuario.codigoPostal}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" style="margin-top: 15px">
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>Ciudad: </strong><span th:text="${usuario.ciudad}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>Dirección: </strong><span th:text="${usuario.direccion}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" style="margin-top: 15px">
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>Carnet de condudir: </strong><span th:text="${usuario.fechaCarnetConducir}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div style="font-family: serif"><strong>Caducidad DNI: </strong><span th:text="${usuario.fechaCaducidadDni}" style="font-family: 'Quicksand', sans-serif;"></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4" style="font-family: serif; margin-top: 20px">
                <div class="col">
                    <div class="text-center">
                        <a th:href="@{'/perfil/' + ${logueado.getId()} + '/actualizar'}" style="background-color: #81c784; color: #fbfcfc;" class="btn">Actualizar Perfil</a>
                    </div>
                </div>
                <div th:if="${usuario.esArrendador}" class="col">
                    <div class="text-center">
                        <a href="" class="btn" style="background-color: #81c784; color: #fbfcfc;" th:href="@{'/perfil/' + ${logueado.getId()} + '/vehiculos'}">Ver Vehiculos</a>
                    </div>
                </div>
                <div th:if="${usuario.esArrendador}" class="col">
                    <div class="text-center">
                        <a href="" class="btn" style="background-color: #81c784; color: #fbfcfc;" th:href="@{'/perfil/' + ${logueado.getId()} + '/añadir-vehiculo'}">Añadir Vehiculo</a>
                    </div>
                </div>
                <div th:if="${usuario.esArrendatario}" class="col">
                    <div class="text-center">
                        <a href="" class="btn" style="background-color: #81c784; color: #fbfcfc;" th:href="@{'/perfil/' + ${logueado.getId()} + '/comentarios'}">Ver Comentarios</a>
                    </div>
                </div>
                <div th:if="${usuario.esArrendatario}" class="col">
                    <div class="text-center">
                        <a href="" class="btn" style="background-color: #81c784; color: #fbfcfc;" th:href="@{'/perfil/' + ${logueado.getId()} + '/vehiculosAlquiladosArrendatario'}">Ver Alquileres</a>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <a href="" class="btn" style="background-color: #81c784; color: #fbfcfc;" th:href="@{'/perfil/' + ${logueado.getId()} + '/cuenta'}">Ver Cuenta</a>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments::javascript"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function toggleRol() {
            var userId = [[${usuario.id}]];
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/perfil/cambiarRol/' + userId;
            document.body.appendChild(form);
            form.submit();
        }

        // Asegúrate de que el elemento exista en el DOM antes de añadirle el event listener
        document.querySelector('.switch input[type="checkbox"]').addEventListener('change', toggleRol);
        /*]]>*/
    </script>
</body>
</html>
